<div class="flex items-center justify-center h-screen">
  <mat-card appearance="raised" class="w-96">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-4">
      <form>
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            [formControl]="loginForm.controls.email"
            [errorStateMatcher]="matcher"
          />
          @if (showValidEmailError) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (loginForm.controls.email.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            [formControl]="loginForm.controls.password"
            [errorStateMatcher]="matcher"
          />
          @if (loginForm.controls.password.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        class="ml-auto"
        color="primary"
        [disabled]="loginForm.invalid"
        (click)="onSubmit()"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
